@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Mate+SC&family=Open+Sans+Condensed:wght@300&family=Over+the+Rainbow&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body{
  color: black;
  padding: 10px;
  background: url(../img/dayforest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul{
  margin-top: 25px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding:0;
  font-weight: 800d;
}

li.tasks{
  line-height: 1.5;
  list-style-type: none;
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: 550;
}

img{
  cursor:pointer;
}

button{
  width:          auto;
  height:         auto;
  border:         none;
  color:          #fff;
  margin-left:    7px;
  font-size:      20px;
  outline:        none;
  background:     #5f3992;
  cursor:         pointer;
  border-radius:  3px;
  opacity:        0.6;
  float:          right;
}

button:hover{
  background: #9f60f1;
}

i{
  margin: 7px;
}

.dark-mode {
  
  background: url(../img/nightforest4.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*position: fixed; 
  top: 0; 
  left: 0;*/ 

  /* Preserve aspet ratio */ /*
  min-width: 100%;
  min-height: 100%;*/
  color: white;
}

.dark-mode.todobox{
  background:rgba(9, 37, 65, 0.7);
}

.todobox{
  background: rgba(72, 79, 86, 0.6);
  max-width: 400px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  font-weight: 550;
}

.todobox header{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.deleteBtn{
  position:absolute;
  right:auto;
}

.completed
{
  text-decoration: line-through;
  color:red;
}

.break
{
  background: rgba(45, 77, 45, 0.527);
}

.clock{
  text-align: center;
}

.superbutton{
  width:50%;
  height: auto;
  cursor: pointer;
}

.superbutton:hover{
  opacity: 0.6;
}

.todobox .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

#inputBox{
  width: 85%;
  border:none;
  border-radius: 5px;
}

#downarrow{
  cursor: pointer;
}

#downarrow:hover{
  color: white;
}

#rainsounds{
  display: none;
}

#timer_wrapper
{
  text-align: center;
}
.pom_class
{
  background: #e635358e;
}

#pom_timer
{
  
  max-width: 400px;
  clear:right;
  border-radius: 5px;
  display:none;
  margin-top: 20px;
  padding: 25px;
  margin-bottom: 20px;
  min-height: 244px;
  font-size: 100px;
}

#raincloud
{
  margin-top: 90%;
  max-width: 168px;
  max-height: 168px;
}


#gratitude_header
{
  font-weight: 600;
}

.gratitude_item
{
  border:none;
  margin-bottom: 10px;
  cursor:pointer;
  background: white;
  border-radius: 5px;
  width: 80%;
}

.moon{
  content: url(../img/moon.png);
  margin-top: 90%;
  max-width: 168px;
  max-height: 168px;
}

.sun{
  content: url(../img/sun.png);
  margin-top: 90%;
  max-width: 168px;
  max-height: 168px;
}

#gratitude
{
  background: #6b3b5b8e;
  max-width: 400px;
  clear:right;
  border-radius: 5px;
  display:none;
  margin-top: 20px;
  padding: 25px;
  min-height: 244px;
  margin: 0 auto;
  text-align: center;
}

.quotes_class
{
  background: #e4dee2af;
  color: black
}

.dark_quotes
{
  background: rgba(0, 0, 0, 0.685);
  border-radius: 5px;
  font-weight: 800px;
}

#quotes
{
  font-family: 'Mate SC', serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  
  border-radius: 5px;
  padding: 5px;
}

#tomato
{
  align-items: center;
  max-width: 168px;
  max-height: 168px;
}

#heart
{
 align-items: center;
 max-width: 168px;
 max-height: 168px;
}

/*LAYOUT FOR XS AND SMALL SIZE------------------------------------------------------------*/
@media screen and (max-width: 991px)
{
  #tomato_wrapper
  {
    text-align: center;
  }

  #pom_timer
  {
    margin-left: auto;
    margin-right: auto;
  }

  #gratitude
  {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #heart_wrapper
  {
    text-align: center;
  }

  #raincloud_wrapper
  {
    text-align: center;
  }

  #quotes
  {
    margin-left:auto;
    margin-right: auto;
    max-width: 400px;
  }

  #moon_wrapper
  {
    text-align: center;
  }

  #satellite
  {
    text-align: center;
  }

  #raincloud
  {
    margin-top: 10%;
  }
  
  .moon
  {
    content: url(../img/moon.png);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sun
  {
    content: url(../img/sun.png);
    margin-top: 10%;
    margin-left: 25%;
  }

  .todobox
  {
    margin-left: auto;
    margin-right: auto;
  }

}


/*LAYOUT FOR MEDIUM SIZE AND ABOVE*/
@media screen and (min-width: 992px)
{
  #tomato_wrapper
  {
    text-align: left;
  }

  #heart_wrapper
  {
    text-align: right;
  }

  #rainsounds{
    display: none;
  }
  
  #raincloud
  {
    margin-top: 10%;
    text-align: right;
    max-width: 168px;
    max-height: 168px;
  }

  #raincloud_wrapper
  {
    text-align: right;
  }

  .moon{
    content: url(../img/moon.png);
    margin-top: 10%;
    text-align: left;
    max-width: 168px;
    max-height: 168px;
  }
  
  .sun{
    content: url(../img/sun.png);
    margin-top: 10%;
    max-width: 168px;
    max-height: 168px;
  }

  #tomato
  {
    max-width: 168px;
    max-height: 168px;
  }

  #heart
  {
    max-width: 168px;
    max-height: 168px;
  }

  #gratitude
{
  background: #6b3b5b8e;
  max-width: 400px;
  clear:right;
  border-radius: 5px;
  display:none;
  margin: 0;
  padding: 25px;
  min-height: 244px;
}

#pom_timer
{
  background: #e635358e;
  max-width: 400px;
  clear:right;
  border-radius: 5px;
  display:none;
  margin-top: 20px;
  padding: 25px;
  margin: 0;
  min-height: 244px;
}


}
