@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body{
  background: url(../img/padarnday-dp.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  color: black;
  padding: 10px;
}

ul{
  margin-top: 25px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding:0;
  font-weight: 800d;
}

li{
  line-height: 1.5;
  list-style-type: none;
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: 550;
}

img{
  cursor:pointer;
}

button{
  width:          auto;
  height:         auto;
  border:         none;
  color:          #fff;
  margin-left:    7px;
  font-size:      20px;
  outline:        none;
  background:     #5f3992;
  cursor:         pointer;
  border-radius:  3px;
  opacity:        0.6;
  float:          right;
}

button:hover{
  background: #9f60f1;
}

i{
  margin: 7px;
}

.dark-mode {
  background: url(../img/padarnnight-pd.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: white;
}

.todobox{
  background: rgba(72, 79, 86, 0.6);
  max-width: 400px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  font-weight: 550;
}

.todobox header{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.deleteBtn{
  position:absolute;
  right:auto;
}

.completed
{
  text-decoration: line-through;
  color:red;
}

.superbutton{
  width:75px;
  height: auto;
  cursor: pointer;
}

.superbutton:hover{
  opacity: 0.6;
}

.todobox .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

#inputBox{
  width: 85%;
}

#downarrow{
  cursor: pointer;
}

#downarrow:hover{
  color: white;
}

#rainsounds{
  display: none;
}

.moon{
  content: url(../img/moon.png);
}

.sun{
  content: url(../img/sun.png);
}

